{% extends "shop/base.html" %}

<title>{% block title %} forum {% endblock %}</title>
{% load crispy_forms_tags %}
{% load post_tags %}
{% load staticfiles %}
{% block content %}

<div class="col-md-1 col-sm-0 col-xs-0">

</div>
<div  class=" post col-md-7 col-sm-9 col-xs-12">
    {% for post in posts %}
    <div class="pst">

            <div style="font-weight:bold; font-size:20px;"><center>{{ post.title }}</center><br><br></div>
              <small><div class="dat"  >{{ post.date }}</div></small>
                    {% if post.image %}
                    <img src="{{post.image.url}} " style="height:auto;width:680px" class="img-responsive">
                    {% endif %}
                {{post.Description|linebreaks|safe|truncatechars:800 }}
        <a href="{{post.get_absolute_url}}">read more</a><br><br>
        <div style="float:right; padding-right:15px; color:#5993bb;">{% with post.likes.count as total_likes %}{{ total_likes}} <span class="glyphicon glyphicon-thumbs-up"  ></span> like{{total_likes|pluralize}}</div>{% endwith %}
            <div style="color:#5993bb;">
                {% with comments.count as total_comments %}
               <span class="glyphicon glyphicon-envelope"></span> {{ total_comments }} comment{{ total_comments|pluralize }}

                {% endwith %}
                </div>
        </div>
        {% endfor%}

</div>
<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="que">
        <center><h3>New Questions </h3></center>
        {% for quiz in new_questions %}
        {{quiz.ask_question}}<br><br>
        {% endfor %}

        <br>
        <form method="POST" action="."  id="post-form">
            {% csrf_token %}
            {{Q_form|crispy}}
            <input type="submit" value="submit your question" class="btn btn-default">
        </form>

    </div>
    <div class="que">
<center><h2>asked question<hr></h2></center>
        {%  for question in questions %}
         {{question.ask_question}}<br><br>
        <a href="{{question.get_url}}">answer</a><br>
        {% endfor %}
    </div>

</div>

{% endblock %}