{% extends "shop/base.html" %}
{% block title %}Change you password{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--notification message-->
{%if messages %}
			{% for message in messages %}

                {% if messages.success %}
                <div id="message1">
                    <li class="{{message.tags}}">
				    {{message|safe}}
                    <a class="close"> ✖</a>
                    </li>
                </div>
                {%else%}
                <div id="message2">
                    <li class="{{message.tags}}">
                    {{message|safe}}
                    <a class="close"> ✖</a>
                    </li>
                </div>
                {% endif %}
			{% endfor%}

{% endif %}
<h1>Change you password</h1>
<p>Use the form below to change your password.</p>
<form action="." method="post">
{{ form|crispy }}<br>
<p><input type="submit" value="Change"></p>
{% csrf_token %}
</form>
{% endblock %}
<script>
var message = document.getElementById('message');
var btn=document.getElementsByClassName("close")[0];
btn.onclick = function() {
    message.style.display = "none";
}
</script>