{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}efarm{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="{%static 'java/create.js' %}"></script>
<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
	<div class="topheader" >
		<div class="col-sm-4 col-md-4 col-lg-4">
			<img src="{% static 'img/LOGO.png' %} " style="height: 100px; width:200px;"">
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">

		</div>

		<div class="col-sm-4 col-md-4 col-lg-4">
            <br><br>
			<center>
			<div class="cart" >

			{% with total_items=cart|length %}
			{% if cart|length > 0 %}
				<sub>Cart:</sub>
			<a href="{% url "cart_detail" %}">
				<sub><span class="glyphicon glyphicon-shopping-cart"></span></sub><sup>
				<span class="badge" style="background-color: black; border-radius: 20px;" >
			{{ total_items}}

			</span></sup>
			</a>
			{% else %}
			<span class="glyphicon glyphicon-shopping-cart"></span> Cart
			{% endif %}
			{% endwith %} </center>
		</div>
		</div>
	</div >
	<!--navigation bar-->
	{% if request.user.is_authenticated %}
	<div class="topnav" id="myTopnav">
		  <a href="{% url "product_list" %}" class="active"><span class="glyphicon glyphicon-home"></span> Home</a>
		  <a href="{% url 'postview' %}">forum</a>
		  <a href="{% url 'hire_list' %}">hire</a>
		  <a href="#about">About</a>


				  <a href="#" style="float:right;"  ><span class="glyphicon glyphicon-user"></span> profile</a>
			  <a href="{% url 'logout'%}" style="float:right;" >logout</a>

		<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
	{% else %}
		<div class="topnav" id="myTopnav">
		  <a href="{% url "product_list" %}" class="active"><span class="glyphicon glyphicon-home"></span> Home</a>
		  <a href="{% url 'postview' %}">forum</a>
		    <a href="{% url 'hire_list' %}">hire</a>
		  <a href="#about">About</a>


			<a href="{% url 'logint' %}" id="myBtn" style="float:right;">
				<span class="glyphicon glyphicon-log-in"> </span> login

			</a>



		  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
		</div>
	{% endif %}
<div class="content">
	{% block content %}


	{% endblock %}
</div>

<script>
<!--jquery function to enable toggle in navigation bar-->
	function myFunction()
	{
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
	}

</script>
<footer>
	<div class="col-md-3">
		<h3>COMPANY</h3>
		<ul>
			<li><a href="#"> Contact us</a></li>
			<li><a href="#"> About us</a></li>
			<li><a href="{% url 'postview' %}"> Forum </a></li>
		</ul>
	</div>
	<div class="col-md-3" style="text-align:justified; line-height:2;">
		<h3>GET IN TOUCH</h3>
		<ul>
		<li><span class="glyphicon glyphicon-earphone"></span> +254702254928</li>
			<li><span class="glyphicon glyphicon-envelope"></span> derkiprotich@gmail.com</li>
		</ul>
	</div>
	<div class="col-md-3 fol" style="text-align:justified; line-height:1.5;">
		<h3>FOLLOW US</h3>
		<ul>
			<li><img src="{% static 'img/fb.png'%}" style="height:50px; width:50px;">facbook</li>
			<li><img src="{% static 'img/twiter.png'%}" style="height:20px; width:20px;"> instagram</li>
			<li><img src="{% static 'img/insta.png'%}" style="height:20px; width:20px;"> twitter</li>
		</ul>
	</div>

</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>